/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .stats {
    @apply bg-[#091F1C] text-white p-4 flex-1 rounded-md border-[#004337] border-2
  }
  
  .stats-container {
    @apply bg-[#091F1C] p-5 rounded-lg
  }

  .countdown {
    @apply p-8 text-5xl text-center text-white rounded-lg lg:min-w-[150px] bg-[#013f34]
  }

  .countdown-label {
    @apply text-center text-white uppercase text-sm pt-4
  }

  .admin-button {
    @apply bg-[#091f1c] p-2 flex-1 rounded-md border-[#004337] border-2 hover:bg-emerald-500/50
  }
}
